.portfolio__box-list{
    display: flex;
    flex-wrap: wrap;
}

.portfolio__title-box {
    padding: 20px 24px;
    background: var(--on-top-color);
    box-sizing: border-box;
    border: 1px solid #EEEEEE;
    border-radius: 0px 0px 4px 4px;
}

.portfolio__item {
    display: flex;

    &:not(:nth-child(3n)) {
            margin-right: 30px;}
        &:not(:nth-last-child(-n+3)) {
            margin-bottom: 30px;}
}

.portfolio__title {
    @include font (18px, 700, 36px);
    letter-spacing: 0.06em;
    color: var(--h2-h3-color);
}

.portfolio__sub-title {
    @include font (16px, 400, 30px);
    letter-spacing: 0.03em;
    color: var(--p-a-color);
}

.portfolio__img-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio__overlay {
    @include font (18px, 400, 28px);
    position: absolute;
    background: rgba(33, 150, 243, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 63px 24px;
    overflow: auto;
    transform: translateY(100%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio__link:hover &,
        .portfolio__link:focus & {
            transform: translateY(0%);}
}

.portfolio__link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);}
}