.section {
    padding: 94px 0;
}

.section__no-padding-top {
    padding-top: 0;
}

.section__other-background-modification {
    background: #f5f4fa;
}


// @media screen and (min-width:1200px) {

// }

@media screen and (max-width:1199px) {
    .section__no-padding-top {display: none;}
        .section {
            padding: 0;
        }
}

