.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__title {
    @include font (20px, 700, 23px);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    color: #212121;
}

.contact-form__icon {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    display: block;
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contact-form__input:focus+& {
            fill: var(--accent-color);}
}

.contact-form__input-wrapper {
    display: block;
    position: relative;
}

.contact-form__input:focus {
    outline: none;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}


.contact-form__field {
    margin-bottom: 10px;
}

.contact-form__field-checkbox {
    margin-bottom: 0px;
}

.contact-form__message {
    width: 100%;
    display: block;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
            outline: none;
            border: 1px solid var(--accent-color);
            border-radius: 4px;}
                &::placeholder {
                    text-transform: uppercase;
                    color: rgba(117, 117, 117, 0.5);}
}


.contact-form__field-title {
    @include font (12px, 400, 14px);
    display: block;
    margin-bottom: 4px;
    letter-spacing: 0.01em;
    color: #757575;
}

.contact-form__checkbox-label {
    @extend %align;
    @include font (14px, 400, 24px);
    margin-top: 20px;
    margin-bottom: 30px;
    letter-spacing: 0.03em;
    color: #757575;
        &::before {
        display: block;
        cursor: pointer;
        justify-content: center;
        content: '';
        width: 15px;
        height: 16px;
        border: 1.5px solid #212121;
        border-radius: 2px;
        margin-right: 10px;

.contact-form__checkbox:checked+& {
        background-color: #2196F3;
        border: transparent;
        background-image: url('../image/checkbox-image/checkbox-submit-image.svg');
        background-repeat: no-repeat;
        background-position: center;}

    .contact-form__checkbox:focus+& {
        border: none;
        outline: 1px solid #212121;}
     }
}

.contact-form__checkbox {
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.contact-form__button {
    @include font (16px, 700, 30px);
    font-family: 'Roboto', sans-serif;
    align-self: center;
    padding: 10px 56px;
    border: transparent;
    border-radius: 4px;
    letter-spacing: 0.06em;
    color: var(--on-top-color);
    background: var(--accent-color);
    cursor: pointer;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
        &:focus {
            background: #188CE8;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px; }
}